extends layout

block content
  section.featured-products
    h2 Featured Products
    // Add your featured products here

  section.product-grid
    each product in products
      section.product
        section.img
          img(src=product.link)
        section.product-name
          h4.product-name= product.name
        section.product-price  
          p.product-price= `$${product.price}`
        section.button  
          form(action=`/add-to-cart/${product.id}`, method="POST")
            button(type="submit") Add to Cart

  section.promotion
    h2 Special Offer
    p Get 10% off your first purchase with code NEW10!

  section.new-arrivals
    h2 New Arrivals
    section.product-grid
      each product in products
        section.product
          section.img
            img(src=product.link)
          section.product-name
            h4.product-name= product.name
          section.product-price  
            p.product-price= `$${product.price}`
          section.button  
            form(action=`/add-to-cart/${product.id}`, method="POST")
              button(type="submit") Add to Cart
